# Mod 4 Project - Starter Notebook

This notebook has been provided to you so that you can make use of the following starter code to help with the trickier parts of preprocessing the Zillow dataset. 

The notebook contains a rough outline the general order you'll likely want to take in this project. You'll notice that most of the areas are left blank. This is so that it's more obvious exactly when you should make use of the starter code provided for preprocessing. 

**_NOTE:_** The number of empty cells are not meant to infer how much or how little code should be involved in any given step--we've just provided a few for your convenience. Add, delete, and change things around in this notebook as needed!

# Some Notes Before Starting

This project will be one of the more challenging projects you complete in this program. This is because working with Time Series data is a bit different than working with regular datasets. In order to make this a bit less frustrating and help you understand what you need to do (and when you need to do it), we'll quickly review the dataset formats that you'll encounter in this project. 

## Wide Format vs Long Format

If you take a look at the format of the data in `zillow_data.csv`, you'll notice that the actual Time Series values are stored as separate columns. Here's a sample: 

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/df_head.png'>

You'll notice that the first seven columns look like any other dataset you're used to working with. However, column 8 refers to the median housing sales values for April 1996, column 9 for May 1996, and so on. This This is called **_Wide Format_**, and it makes the dataframe intuitive and easy to read. However, there are problems with this format when it comes to actually learning from the data, because the data only makes sense if you know the name of the column that the data can be found it. Since column names are metadata, our algorithms will miss out on what dates each value is for. This means that before we pass this data to our ARIMA model, we'll need to reshape our dataset to **_Long Format_**. Reshaped into long format, the dataframe above would now look like:

<img src='https://raw.githubusercontent.com/learn-co-students/dsc-mod-4-project-seattle-ds-102819/master/images/melted1.png'>

There are now many more rows in this dataset--one for each unique time and zipcode combination in the data! Once our dataset is in this format, we'll be able to train an ARIMA model on it. The method used to convert from Wide to Long is `pd.melt()`, and it is common to refer to our dataset as 'melted' after the transition to denote that it is in long format. 

# Helper Functions Provided

Melting a dataset can be tricky if you've never done it before, so you'll see that we have provided a sample function, `melt_data()`, to help you with this step below. Also provided is:

* `get_datetimes()`, a function to deal with converting the column values for datetimes as a pandas series of datetime objects
* Some good parameters for matplotlib to help make your visualizations more readable. 

Good luck!


# Step 1: Load the Data/Filtering for Chosen Zipcodes

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("zillow_data.csv")

In [3]:
df

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14718,58333,1338,Ashfield,MA,Greenfield Town,Franklin,14719,94600.0,94300.0,94000.0,...,216800,217700,218600,218500,218100,216400,213100,209800,209200,209300
14719,59107,3293,Woodstock,NH,Claremont,Grafton,14720,92700.0,92500.0,92400.0,...,202100,208400,212200,215200,214300,213100,213700,218300,222700,225800
14720,75672,40404,Berea,KY,Richmond,Madison,14721,57100.0,57300.0,57500.0,...,121800,122800,124600,126700,128800,130600,131700,132500,133000,133400
14721,93733,81225,Mount Crested Butte,CO,NaN,Gunnison,14722,191100.0,192400.0,193700.0,...,662800,671200,682400,695600,695500,694700,706400,705300,681500,664400
14722,95851,89155,Mesquite,NV,Las Vegas,Clark,14723,176400.0,176300.0,176100.0,...,333800,336400,339700,343800,346800,348900,350400,353000,356000,357200

In [4]:
df.iloc[:,160:172]

,2009-01,2009-02,2009-03,2009-04,2009-05,2009-06,2009-07,2009-08,2009-09,2009-10,2009-11,2009-12
0,818300.0,814600.0,809800.0,803600.0,795500.0,786900.0,780700.0,776900.0,774700.0,774200.0,774400.0,774600.0
1,202400.0,201700.0,201200.0,200700.0,200000.0,199700.0,199700.0,199900.0,200100.0,200200.0,200200.0,200100.0
2,246700.0,246100.0,245800.0,245900.0,246200.0,246800.0,247200.0,247600.0,247900.0,248000.0,248000.0,249000.0
3,1065400.0,1057800.0,1048900.0,1037900.0,1024300.0,1010200.0,999000.0,990900.0,985400.0,983200.0,982400.0,982400.0
4,121600.0,121200.0,120700.0,120300.0,119700.0,119100.0,118700.0,118400.0,118200.0,117900.0,117600.0,117400.0
...,...,...,...,...,...,...,...,...,...,...,...,...
14718,190700.0,190500.0,189800.0,188700.0,187500.0,186700.0,186600.0,187100.0,187300.0,187500.0,187700.0,188200.0
14719,207900.0,205400.0,202800.0,200900.0,199200.0,197300.0,196400.0,196400.0,196900.0,197600.0,197900.0,198200.0
14720,107600.0,107800.0,108100.0,108200.0,108300.0,108400.0,108400.0,108200.0,107900.0,107600.0,107000.0,106500.0
14721,645000.0,646100.0,646100.0,646800.0,647400.0,647300.0,643100.0,634700.0,625400.0,616900.0,608200.0,602600.0
14722,275600.0,268900.0,261800.0,254600.0,247500.0,240800.0,235500.0,231800.0,229200.0,227500.0,226800.0,226800.0

In [5]:
df['ROI'] = ((df.iloc[:,160:172].mean(axis=1))/(df.iloc[:,260:272].mean(axis=1))-1)*100

In [6]:
df = df.sort_values(['ROI'], ascending=[False])
df[:10]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,ROI
7402,64354,15902,Johnstown,PA,Johnstown,Cambria,7403,43200.0,43200.0,43300.0,...,28500,28100,27900,27800,27600,27600,27700,28300,29000,88.741917
13440,79884,49713,Boyne Falls,MI,NaN,Charlevoix,13441,NaN,NaN,NaN,...,107000,111000,112400,113700,115600,117800,119300,119300,118000,82.901360
5278,61128,8611,Trenton,NJ,Trenton,Mercer,5279,51400.0,51200.0,50900.0,...,38400,39100,39700,40100,40900,41400,42100,44000,45900,82.502061
3894,88814,70805,Baton Rouge,LA,Baton Rouge,East Baton Rouge,3895,22700.0,22300.0,21900.0,...,27100,26300,25300,25400,26800,27800,28000,28200,28300,82.338537
2417,61129,8618,Trenton,NJ,Trenton,Mercer,2418,74700.0,74200.0,73700.0,...,63500,63500,63700,65400,68600,71500,74500,78400,81100,75.918217
5690,69501,27801,Rocky Mount,NC,Rocky Mount,Nash,5691,44700.0,44900.0,45100.0,...,36500,36500,36200,35900,35600,35300,35700,37200,38500,75.616438
6516,85070,61603,Peoria,IL,Peoria,Peoria,6517,26300.0,26300.0,26400.0,...,29400,28600,28200,28400,28900,28700,29300,31300,33100,71.336328
6881,73733,36078,Tallassee,AL,Montgomery,Elmore,6882,NaN,NaN,NaN,...,96300,96400,96200,95600,95200,95400,96700,100100,103400,65.748842
6321,71480,31217,Macon,GA,Macon,Bibb,6322,47700.0,47800.0,48000.0,...,30000,30100,30500,31000,31800,32400,33400,35300,37200,62.961025
6609,65504,18466,Coolbaugh,PA,East Stroudsburg,Monroe,6610,59900.0,59900.0,59800.0,...,71200,72000,73300,74300,74300,74200,75400,77000,78000,61.022364

In [7]:
df['std']=df.loc[:,'2009-01':'2018-04'].std(skipna=True, axis=1)
#Calculate historical mean value
df['mean']=df.loc[:,'2009-01':'2018-04'].mean(skipna=True, axis=1)
#Calculate coefficient of variance
df['CV']=df['std']/df['mean']
#Define upper limit of CV according to risk profile.
upper_cv = df.CV.quantile(.6)
best_ROI = df[df['CV']<upper_cv].sort_values('ROI',axis=0,ascending=False)[:10]

In [8]:
df['USregion'] = df['State']
region_dict = {'CA':'West',
              'OR': 'West',
              'WA': 'West',
              'NV': 'West',
              'ID': 'West',
              'UT': 'West',
              'MT': 'West',
              'WY': 'West',
              'CO': 'West',
               'HI': 'West',
              'AZ': 'SouthWest',
               'NM': 'SouthWest',
               'OK': 'SouthWest',
               'TX': 'SouthWest',
              'ND': 'MidWest',
              'SD': 'MidWest',
              'NE': 'MidWest',
              'KS': 'MidWest',
              'MN': 'MidWest',
              'IA': 'MidWest',
              'MO': 'MidWest',
              'WI': 'MidWest',
              'IL': 'MidWest',
               'IN': 'MidWest',
              'MI': 'MidWest',
              'OH': 'MidWest',
              'AR': 'SouthEast',
              'LA': 'SouthEast',
              'MS': 'SouthEast',
              'AL': 'SouthEast',
              'TN': 'SouthEast',
              'KY': 'SouthEast',
              'WV': 'SouthEast',
              'DC': 'SouthEast',
              'VA': 'SouthEast',
              'NC': 'SouthEast',
              'SC': 'SouthEast',
              'GA': 'SouthEast',
              'FL': 'SouthEast',
              'ME': 'NorthEast',
              'NH': 'NorthEast',
              'VT': 'NorthEast',
              'MA': 'NorthEast',
              'RI': 'NorthEast',
              'CT': 'NorthEast',
              'NY': 'NorthEast',
              'NY': 'NorthEast',
              'NJ': 'NorthEast',
              'PA': 'NorthEast',
              'MD': 'NorthEast',
              'DE': 'NorthEast'}

df.USregion.replace(region_dict, inplace=True)

In [9]:
USregions = df.USregion.value_counts().index.tolist()

In [27]:
for region in USregions:
    df3.append(df[df['USregion']=='region'].sort_values('ROI',axis=0,ascending=False)[:1])

In [37]:
df[(df['USregion']=='NorthEast')&(df['CV']<upper_cv)].sort_values('ROI',axis=0,ascending=False)[:1]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-12,2018-01,2018-02,2018-03,2018-04,ROI,std,mean,CV,USregion
7359,61026,8244,Somers Point,NJ,Atlantic City,Atlantic,7360,103000.0,102800.0,102600.0,...,164000,166200,167900,169700,170900,37.5437,20165.974579,187638.392857,0.107473,NorthEast

In [38]:
df[(df['USregion']=='SouthEast')&(df['CV']<upper_cv)].sort_values('ROI',axis=0,ascending=False)[:1]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-12,2018-01,2018-02,2018-03,2018-04,ROI,std,mean,CV,USregion
12287,71270,30669,Union Point,GA,NaN,Greene,12288,35000.0,35200.0,35300.0,...,45400,44900,44600,45600,46800,39.254463,5336.695093,55411.607143,0.09631,SouthEast

In [39]:
df[(df['USregion']=='MidWest')&(df['CV']<upper_cv)].sort_values('ROI',axis=0,ascending=False)[:1]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-12,2018-01,2018-02,2018-03,2018-04,ROI,std,mean,CV,USregion
6559,77821,45804,Lima,OH,Lima,Allen,6560,24800.0,24300.0,23800.0,...,24200,23800,23500,24000,24700,30.533832,2442.849828,27665.178571,0.088301,MidWest

In [41]:
df[(df['USregion']=='SouthWest')&(df['CV']<upper_cv)].sort_values('ROI',axis=0,ascending=False)[:1]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-12,2018-01,2018-02,2018-03,2018-04,ROI,std,mean,CV,USregion
1603,95019,85635,Sierra Vista,AZ,Sierra Vista,Cochise,1604,87400.0,86900.0,86600.0,...,141100,140700,140200,140300,140400,24.814749,15351.205102,150882.142857,0.101743,SouthWest

In [43]:
df[(df['USregion']=='West')&(df['CV']<upper_cv)].sort_values('ROI',axis=0,ascending=False)[:1]

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-12,2018-01,2018-02,2018-03,2018-04,ROI,std,mean,CV,USregion
12306,84256,59922,Lakeside,MT,Kalispell,Flathead,12307,212900.0,212900.0,212900.0,...,338800,342000,347100,358700,369800,12.762925,34445.147381,320433.035714,0.107496,West

In [18]:
df[df['ROI'].max() in (df[df['USregion']=='NorthEast')]

KeyError: False

In [ ]:
 & (df[df['CV']<upper_cv])

In [ ]:
best_ROI

In [ ]:
df[df['ROI'].isna()]

In [ ]:
df[(df['City']=="New York"or)]

In [ ]:
majorcities = ['New York','Los Angeles','Houston''Chicago','Las Vegas','Houston']

In [ ]:
pd.set_option("display.max_rows", None)

In [ ]:
df2.nlargest(n=100, columns=['value'])

In [ ]:
majorcities = (df['City'].value_counts()).nlargest(n=30).index.tolist()
majorcities

In [ ]:
df["Metro"]

In [ ]:
#df2.drop(df.loc[df['City']==(city in majorcities)].index, inplace=True)
for city in majorcities:
    df2 = df2[df2['City']==city]
df2.head()

In [ ]:
df2['Metro']

In [ ]:
df2['City'].value_counts()

In [ ]:
df2 = pd.melt(df, id_vars = ['RegionID','RegionName','City','State','Metro','CountyName','SizeRank'])
df2

In [ ]:
df2['City'].value_counts()

In [ ]:
pd.set_option("display.max_rows", None)

In [ ]:
majorcities = (df2['Metro'].value_counts().nlargest(n=20)).index.tolist()
majorcities

In [ ]:
for city in majorcities:
    df2.loc[df['Metro'] == city]

In [ ]:
df2.sort['SizeRank']

# Step 2: Data Preprocessing

In [ ]:
def get_datetimes(df):
    """
    Takes a dataframe:
    returns only those column names that can be converted into datetime objects 
    as datetime objects.
    NOTE number of returned columns may not match total number of columns in passed dataframe
    """
    
    return pd.to_datetime(df.columns.values[1:], format='%Y-%m')

# Step 3: EDA and Visualization

In [ ]:
font = {'family' : 'normal',
        'weight' : 'bold',
        'size'   : 22}

matplotlib.rc('font', **font)

# NOTE: if you visualizations are too cluttered to read, try calling 'plt.gcf().autofmt_xdate()'!

# Step 4: Reshape from Wide to Long Format

In [ ]:
def melt_data(df):
    """
    Takes the zillow_data dataset in wide form or a subset of the zillow_dataset.  
    Returns a long-form datetime dataframe 
    with the datetime column names as the index and the values as the 'values' column.
    
    If more than one row is passes in the wide-form dataset, the values column
    will be the mean of the values from the datetime columns in all of the rows.
    """
    
    melted = pd.melt(df, id_vars=['RegionName', 'RegionID', 'SizeRank', 'City', 'State', 'Metro', 'CountyName','ROI','std','mean','CV'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})

In [ ]:
df2=melt_data(df)

In [ ]:
df2

# Step 5: ARIMA Modeling

# Step 6: Interpreting Results